@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "Afacad Flux", sans-serif;
  
}
.text-shadow {
  text-shadow:  2px 4px rgba(0, 0, 0, 0.5);
}
.App {
  min-height: 100vh;
  background: url("./assets/background-image.jpg") no-repeat center center fixed;
  background-size: cover;
}

.blurred {
  filter: blur(4px);
}

/* Animation for opening the modal */
@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Animation for closing the modal */
@keyframes fadeOutScale {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.9);
  }
}

.modal-enter {
  animation: fadeInScale 0.3s ease-out forwards; /* Open animation */
}

.modal-exit {
  animation: fadeOutScale 0.3s ease-out forwards; /* Close animation */
}



.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Responsive square grid */
  gap: 1rem; /* Adjust gap between grid items */
  margin: 12px 55px;
}
.task-list {
  display: grid;
  gap: 16px;
}

.task-item {
  transition: background-color 0.2s ease-in-out;
}

.task-item.dragging {
  background-color: #f0f0f0;
  opacity: 0.7;
  border: 2px dashed #007bff;
}


.card-1 {
  background: linear-gradient(
    to bottom left,
    transparent 35px,
    rgb(199, 197, 197) 0
  );
  color: #222;
}

.card-1:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 71px;
  height: 40px;
  background: linear-gradient(
    to bottom left,
    transparent 50%,
    rgb(169, 169, 167) 0
  );
  border-bottom-left-radius: 0.5rem;
  box-shadow: -5px 5px 5px rgb(134, 134, 129);
}

.card-2 {
  background: linear-gradient(-135deg, transparent 35px, rgb(228, 74, 74) 0);
  color: #f3f3f3;
}

.card-2:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 49px;
  height: 49px;
  background: linear-gradient(to bottom left, transparent 50%, rgb(214, 57, 57) 0);
  border-bottom-left-radius: 0.5rem;
  box-shadow: -5px 5px 5px rgb(183, 43, 43);
}